{% extends "authentication/base.html" %}

{% block title %}
<title>Login</title>
{%endblock %}
{%block content%}

<div class="container">
    <h1>LOGIN</h1>
    {%for message in messages%}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}

    <form action="{% url 'login' %}" method="post">
        {%csrf_token%}

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="passwordInput" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{%endblock%}